* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

body {
    margin-top: 250px;
}    

.opcoes {
    margin-top: 50px;
    text-align: center;
    
}

.opcoes img {
    
    width: 50px;
}

.iconUser {
    height: 200px;
    width: 150px;
}


.jogadores {
    display: flex;
    justify-content: space-around;
    
}

/* .telaMaquina {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
} */

img {
    margin: 20px;
    cursor: pointer;
    animation: go-back 3s infinite;
}

img:hover {
    background: red;
}

.resultado {
    margin-top: 150px;
    text-align: center;
    position: static;
}

.usuario img, .maquina img {
    width: 90px;
    position: fixed;
}



.maq, .user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
} */

.placar {
    margin-top: -250px;
    display: contents;
    text-align: center;
    align-items: center;
    font-size: 80px;
}

.player1 {
    width: 10%;
    display: inline-block;
    background-color: blue;
    font-size: 40px;
    text-align: center;
    margin-right: 20px;
    

}

.player2 {
    width: 10%;
    display: inline-block;
    background-color: red;
    font-size: 40px;
    text-align: center;
    margin-left: 20px;
}

.empate {
    margin-left: 20px;
    width: 5%;
    font-size: 40px;
    background-color: orange;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ganhou, .perdeu, .empatou, .resultado{
    display:none;
}
