* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

.opcoes {
    margin-top: 50px;
    text-align: center;
    
}

.opcoes img {
    
    width: 50px;
}

.iconUser {
    height: 200px;
    width: 150px;
}


.jogadores {
    display: flex;
    justify-content: space-around;
    
}

/* .telaMaquina {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
} */

img {
    margin: 20px;
    cursor: pointer;
    animation: go-back 3s infinite;
}

img:hover {
    background: red;
}

.resultado {
    margin-top: 50px;
    text-align: center;
}

.usuario img {
    width: 90px;

}

.maquina img{
    width: 90px;
}

.maq, .user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
} */

.placar {
    margin-top: -200px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 80px;
}

.player1 {
    width: 10%;
    display: inline-block;
    background-color: blue;
    font-size: 40px;
    text-align: center;

}

.player2 {
    width: 10%;
    display: inline-block;
    background-color: red;
    font-size: 3vw;
    text-align: center;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}